.input-container {
  position: relative;
  margin-bottom: 20px;
}

.fixed-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 13px;
  color: #8a8a8a;
  font-weight: 300;
}

.input::placeholder {
  color: #ccc;
  opacity: 0.8;
  font-size: 12px;
}
.required-asterisk {
  color: #ff5d01;
  margin-left: 2px;
}

.input {
  width: 100%;
  padding: 12px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  outline: none;
  transition: border-color 0.3s;
  color: #333;
  box-sizing: border-box;
}

.input:focus {
  border-color: #7c52f4; 
}

.input-error {
  border-color: #ff5d01; 
}

.error-message {
  color: #ff0101;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
