.input-container {
  position: relative;
  margin-bottom: 20px;
}

.fixed-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 13px;
  color: #333;
  font-weight: 400;
  z-index: 2;
}

.input::placeholder {
  color: #ccc;
  opacity: 0.8;
  font-size: 13px;
}
.required-asterisk {
  color: #ff5d01;
  margin-left: 2px;
}

.input-wrapper {
  position: relative;
}


.input {
  width: 100%;
  padding: 12px 10px;
  padding-right: 40px; /* Adjust padding for the icon */

  font-size: 14px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  background: #fff;
  outline: none;
  transition: border-color 0.3s;
  color: #333;
  box-sizing: border-box;
}

.input:focus {
  border-color: #7c52f4;
}

.input-error {
  border-color: #ff5d01;
  color: #ff0101 !important;
}
.input-icon {
  position: absolute;
  top: 42%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}
.error-message {
  color: #ff0101;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.input option {
  font-size: 14px;
  padding: 10px;
  color: #333;
  background-color: #fff;
}

.input option:hover {
  background-color: #f0f0f0;
  color: #000;
}

.input option:disabled {
  color: #999;
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .input-container {
    margin-bottom: 10px;
  }

  .fixed-label {
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 11px;
  }

  .required-asterisk {
    margin-left: 1px;
  }

  .input {
    padding: 8px 6px;
    padding-right: 35px; /* Adjust padding for the icon on smaller screens */

    font-size: 12px;
    border-radius: 4px;
  }
  .error-message {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .input option {
    font-size: 12px;
    padding: 6px;
  }
}


.date-container {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.date-label {
  font-size: 0.875rem;
  color: #6b7280;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
  z-index: 1;
}

.date-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: linear-gradient(to right, #f8fafc, #f1f5f9);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.date-input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 8px rgba(99, 102, 241, 0.3);
}

.date-input::placeholder {
  color: #9ca3af;
  font-style: italic;
}

.date-input:hover {
  background: linear-gradient(to right, #e5e7eb, #f1f5f9);
}
