.input-container {
  position: relative;
  margin-bottom: 20px;
}

.fixed-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 13px;
  color: #333;
  font-weight: 400;
  z-index: 2;
}

.input::placeholder {
  color: #ccc;
  opacity: 0.8;
  font-size: 13px;
}

.required-asterisk {
  color: #ff5d01;
  margin-left: 2px;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 10px;
  padding-right: 40px;
  font-size: 14px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  background: #fff;
  outline: none;
  transition: border-color 0.3s;
  color: #333;
  box-sizing: border-box;
  text-align: left;
}

.input:focus {
  border-color: #7c52f4;
}

.input-error {
  border-color: #ff5d01;
  color: #ff0101 !important;
}

.input-icon {
  position: absolute;
  top: 42%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.error-message {
  color: #ff0101;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.input option {
  font-size: 14px;
  padding: 10px;
  color: #333;
  background-color: #fff;
}

.input option:hover {
  background-color: #f0f0f0;
  color: #000;
}

.input option:disabled {
  color: #999;
  background-color: #f9f9f9;
}

/* Updated Date Picker Styles */
.date-input-wrapper {
  position: relative;
  width: 100%;
}

.date-icon {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 18px;
  color: #666;
}

.input,
select,
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="date"] {
  text-align: left !important;
  padding-right: 40px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Select Dropdown Improvements */
select.input {
  background-color: #fff;
  padding-right: 35px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140'%3E%3Cpath d='M70 95L20 45h100z' fill='%23666'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

select.input:focus {
  border-color: #7c52f4;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .input-container {
    margin-bottom: 10px;
  }

  .fixed-label {
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 11px;
  }

  .required-asterisk {
    margin-left: 1px;
  }

  .input {
    /* padding: 8px 6px; */
    padding-right: 35px;
    font-size: 12px;
    border-radius: 4px;
  }
  .error-message {
    font-size: 10px;
    margin-bottom: 15px;
  }

  .input option {
    font-size: 12px;
    padding: 6px;
  }
  .date-icon {
    font-size: 15px;
  }
}
